body {
    background-color: black;
    color: white;

    p {
        color: white
    }

    Button {
        max-width: 400px;

    }

    .checkbox {
        color: rgb(81, 81, 228);

    }


    .text-field {
        max-width: 400px;

        label {
            color: green;
        }

        fieldset {
            border-color: green;
        }

        .MuiOutlinedInput-root:hover fieldset {
            border-color: blueviolet;
        }


        input {
            color: white;
        }

        input:-webkit-autofill {
            background-color: black !important;
            color: white !important;
            -webkit-text-fill-color: white !important;
            transition: background-color 9999s ease-in-out 0s;
        }
    }

}